@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <NavLink class="navbar-brand" href="">User Management</NavLink>
            <div id="topNav" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/">Users</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/logs">Logs</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">

        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>
